<div layout="vertical" layout-fill>

  <md-content layout-fill>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>

    <div>
      <div layout="row">
        <div flex="33">
          <md-input-container>
            <label>Search House</label>
            <input name="Search" ng-model="main.searchQuery">
          </md-input-container>
          <md-button ng-click="main.search( main.searchQuery )" class="md-raised">Go</md-button>

          <md-button ng-click="main.searchLocation()" class="md-raised">My Location</md-button>
        </div>
        <div flex="66" ng-if="main.locations.length">
          <md-button
                  ng-repeat="loc in main.locations"
                  ng-click="main.search( loc.place_name )"
                  class="md-raised">
            {{ loc.long_title }}
          </md-button>
        </div>
        <div flex="66" ng-if="main.errorMessage.length">
          <h4>{{ main.errorMessage }}</h4>
        </div>
      </div>
      <!--<div layout="row">-->
        <!--<div flex>First item in row</div>-->
        <!--<div flex="20">Second item in row</div>-->
      <!--</div>-->

    </div>
<div class="text"><p>Enter your correct coordinates:</p></div>
 <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample3" ng-model="main.latitude">
        <label class="mdl-textfield__label" for="sample4">Input latitude</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4" ng-model="main.longitude">
        <label class="mdl-textfield__label" for="sample4">Input longitude</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
</form>


<md-button ng-click="main.searchLocationLucky(main.latitude, main.longitude)" class="md-raised">
I'm lucky - Search</md-button>

  </md-content>


</div>

